
  
body {
    background: linear-gradient(135deg, #d8fcf7, #badcff, #c0e8b2);
    background-size: 400% 400%;
    animation-name: gradientAnimation;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    margin: 0;
    font-family: 'Poppins', 'Roboto', sans-serif;
  }
  
  /* Animación opcional */
  @keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #00695c;
    padding: 15px 30px;
    color: white;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .nav-login a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  

  .bienvenida {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    padding: 250px;
    text-align: center;
    background: linear-gradient(135deg, #d8fcf7, #badcff, #c0e8b2);
    animation-name: gradientAnimation;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background-size: 400% 400%;
    border-radius: 10px; /* opcional */
  }
  
  @keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

  .bienvenida h1 {
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }

  .bienvenida p {
    font-size: 24px;
    max-width: 700px;
    margin: 0 auto;
  }
  
  
  .categoria {
    margin: 30px;
  }
  
  .categoria h2 {
    margin-bottom: 10px;
  }
  
  .carrusel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  .carrusel img {
    height: 180px;
    border-radius: 10px;
  }
  
  /* Footer */
  footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer .redes a {
    margin: 0 10px;
    color: #a7ffeb;
    text-decoration: none;
  }
  
  /* Formularios */
  .form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
    width: 300px;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
  }
  
  .form-container form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .form-container input {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .form-container button {
    width: 100%;
    background-color: #00796b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #004d40;
  }
  